[Unit]
Description=Update AstroDrive from Git
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/astrodrive/deploy/update.sh
User=root

[Install]
WantedBy=multi-user.target
