ASTRODRIVE_REPO_URL=https://github.com/REPLACE_ME/AstroDrive.git
ASTRODRIVE_BRANCH=main
ASTRODRIVE_INSTALL_DIR=/opt/astrodrive
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=telescope/mount/command
ESP32_SERIAL_PORT=auto
ESP32_SERIAL_BAUD=115200
CAMERA_URL=http://localhost:8080/?action=stream
CORS_ORIGINS=*
